/** @format */
*{
  box-sizing: border-box;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}
.menu {
  background-color: #ffff;
  margin-top: -20px;
  width: 100vw;
  display: flex;

  
}
.link {
  color: black;
  border-right: 2px solid black;
  /* padding: 40px 67px; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 15vh;
text-align: center;
text-decoration: none;



}

